.chart rect {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}

section {
  margin: 10px;
}

.choice-button {
  margin: 5px;
}

.imageoverlay {
  position: relative;
  display:inline-block;
}

.overlay {
  position: absolute;
  left: 0px;
  text-align: center;
  color: white;
  top: 40px;
  width: 100%;
  font-size: xx-large;
}

.player {
  font-weight: bold;
  color: steelblue;
}

.checkbox.checked {
  opacity: 0.4;
  filter: alpha(opacity=40);
}